@model Burialall7

<div class="container">
<div class="text-center">
    <div class="text-right">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Burials" style="float:right">See Records</a>
    </div>
    <h1 class="display-4">@ViewBag.Title</h1>
    <h6>@ViewBag.Extra</h6>
 </div>
</div>





<div class="container">
    <div class="row">
        <form method="post">
            <div class="col-md-4">
                <input asp-for="@Model.Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="@Model.Squarenorthsouth">SquareNorthSouth</label>
                    <input asp-for="@Model.Squarenorthsouth" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Headdirection">Headdirection</label>
                    <input asp-for="@Model.Headdirection" /><br />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Sex">Sex</label>
                    <select asp-for="@Model.Sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="U">Unknown</option>
                    </select><br />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Northsouth">NorthSouth</label>
                    <input asp-for="@Model.Northsouth" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Depth">Depth</label>
                    <input asp-for="@Model.Depth" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Eastwest">EastWest</label>
                    <input asp-for="@Model.Eastwest" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Adultsubadult">Adultsubadult</label>
                    <input asp-for="@Model.Adultsubadult" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Facebundles">Face Bundles</label>
                    <input asp-for="@Model.Facebundles" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Southtohead">South to Head</label>
                    <input asp-for="@Model.Southtohead" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Preservation">Preservation</label>
                    <input asp-for="@Model.Preservation" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Fieldbookpage">Field Book Page</label>
                    <input asp-for="@Model.Fieldbookpage" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Squareeastwest">SquareEastWest</label>
                    <input asp-for="@Model.Squareeastwest" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Goods">Goods</label>
                    <input asp-for="@Model.Goods" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Text">Text</label>
                    <input asp-for="@Model.Text" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Wrapping">Wrapping</label>
                    <input asp-for="@Model.Wrapping" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Haircolor">Hair Color:</label>
                    <select asp-for="@Model.Haircolor">
                        <option value="">Select a Hair Color</option>
                        <option value="B">Brown/Dark Brown/Lt Brown</option>
                        <option value="K">Black</option>
                        <option value="A">Brown-Red</option>
                        <option value="R">Red/Red-Bl</option>
                        <option value="D">Blond</option>
                        <option value="U">Unknown</option>
                    </select><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Westtohead">West to Head</label>
                    <input asp-for="@Model.Westtohead" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Samplescollected">Samples Collected</label>
                    <input asp-for="@Model.Samplescollected" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Area">Area</label>
                    <input asp-for="@Model.Area" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Length">Length</label>
                    <input asp-for="@Model.Length" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Burialnumber">Burial Number</label>
                    <input asp-for="@Model.Burialnumber" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Dataexpertinitials">Data Expert Initials</label>
                    <input asp-for="@Model.Dataexpertinitials" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Westtofeet">West to Feet</label>
                    <input asp-for="@Model.Westtofeet" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Ageatdeath">Age at Death</label>
                    <select asp-for="@Model.Ageatdeath">
                        <option value="">Select an Age</option>
                        <option value="A">Adult</option>
                        <option value="C">Child</option>
                        <option value="I">Infant</option>
                        <option value="N">Newborn</option>
                        <option value="U">Unknown</option>
                    </select><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Southtofeet">South to Feet</label>
                    <input asp-for="@Model.Southtofeet" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Excavationrecorder">Excavation Recorder</label>
                    <input asp-for="@Model.Excavationrecorder" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Photos">Photos</label>
                    <input asp-for="@Model.Photos" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Hair">Hair</label>
                    <input asp-for="@Model.Hair" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Burialmaterials">Burial Materials</label>
                    <input asp-for="@Model.Burialmaterials" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Dateofexcavation">Date of Excavation</label>
                    <input asp-for="@Model.Dateofexcavation" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Fieldbookexcavationyear">Fieldbook Excavation</label>
                    <input asp-for="@Model.Fieldbookexcavationyear" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Clusternumber">Cluster Number</label>
                    <input asp-for="@Model.Clusternumber" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Shaftnumber">Shaft Number</label>
                    <input asp-for="@Model.Shaftnumber" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Locale">Locale</label>
                    <input asp-for="@Model.Locale" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description">Description</label>
                    <input asp-for="@Model.Description" /><br />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Burialnumber2">Burial Number 2</label>
                    <input asp-for="@Model.Burialnumber2" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Estimatedperiod">Estimate Period</label>
                    <input asp-for="@Model.Estimatedperiod" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Sampledate">Sample Date</label>
                    <input asp-for="@Model.Sampledate" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Photographeddate">Photograph Date</label>
                    <input asp-for="@Model.Photographeddate" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Direction">Direction</label>
                    <input asp-for="@Model.Direction" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Value">Color</label>
                    <input asp-for="@Model.Value" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Analysistype">Analysis Type</label>
                    <input asp-for="@Model.Analysistype" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Doneby">Done by</label>
                    <input asp-for="@Model.Doneby" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Date">Date</label>
                    <input asp-for="@Model.Date" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Value2">Decoration</label>
                    <input asp-for="@Model.Value2" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Dimensiontype">Dimension Type</label>
                    <input asp-for="@Model.Dimensiontype" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Value3">Dimension</label>
                    <input asp-for="@Model.Value3" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Value4">Structure</label>
                    <input asp-for="@Model.Value4" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Value5">Function</label>
                    <input asp-for="@Model.Value5" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Thickness">Thickness</label>
                    <input asp-for="@Model.Thickness" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Angle">Angle</label>
                    <input asp-for="@Model.Angle" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Manipulation">Manipulation</label>
                    <input asp-for="@Model.Manipulation" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Material">Material</label>
                    <input asp-for="@Model.Material" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Count">Count</label>
                    <input asp-for="@Model.Count" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Component">Component</label>
                    <input asp-for="@Model.Component" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Ply">Ply</label>
                    <input asp-for="@Model.Ply" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Yarnmanipulationid">Yarn Manipulation ID</label>
                    <input asp-for="@Model.Yarnmanipulationid" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Direction2">Direction 2</label>
                    <input asp-for="@Model.Direction2" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Burialnumber3">Burial Number 3</label>
                    <input asp-for="@Model.Burialnumber3" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Dateofexamination">Date of Examination</label>
                    <input asp-for="@Model.Dateofexamination" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Preservationindex">Preservation Index</label>
                    <input asp-for="@Model.Preservationindex" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Haircolor2">Hair Color 2</label>
                    <input asp-for="@Model.Haircolor2" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Observations">Observations</label>
                    <input asp-for="@Model.Observations" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Robust">Robust</label>
                    <input asp-for="@Model.Robust" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Supraorbitalridges">Supraorbital Ridges</label>
                    <input asp-for="@Model.Supraorbitalridges" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Orbitedge">Orbit Edge</label>
                    <input asp-for="@Model.Orbitedge" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Parietalblossing">Parietal Blossing</label>
                    <input asp-for="@Model.Parietalblossing" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Gonion">Gonion</label>
                    <input asp-for="@Model.Gonion" /><br />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Nuchalcrest">Nuchral Crest</label>
                    <input asp-for="@Model.Nuchalcrest" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Zygomaticcrest">Zygomatic Crest</label>
                    <input asp-for="@Model.Zygomaticcrest" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Sphenooccipitalsynchrondrosis">Sphennoccipitalsynchrondosis</label>
                    <input asp-for="@Model.Sphenooccipitalsynchrondrosis" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Lamboidsuture">Lamboid Suture</label>
                    <input asp-for="@Model.Lamboidsuture" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Squamossuture">Squamo Suture</label>
                    <input asp-for="@Model.Squamossuture" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Toothattrition">Tooth Attrition</label>
                    <input asp-for="@Model.Toothattrition" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Tootheruption">Tooth Eruption</label>
                    <input asp-for="@Model.Tootheruption" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Tootheruptionageestimate">Tooth Eruption Age Estimate</label>
                    <input asp-for="@Model.Tootheruptionageestimate" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Ventralarc">Ventral Arc</label>
                    <input asp-for="@Model.Ventralarc" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Subpubicangle">Subpubic Angle</label>
                    <input asp-for="@Model.Subpubicangle" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Sciaticnotch">Sciatic Notch</label>
                    <input asp-for="@Model.Sciaticnotch" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Pubicbone">Pubic Bone</label>
                    <input asp-for="@Model.Pubicbone" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Preauricularsulcus">Preauricularsulcus</label>
                    <input asp-for="@Model.Preauricularsulcus" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.MedialIpRamus">Medial Ip Ramus</label>
                    <input asp-for="@Model.MedialIpRamus" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Dorsalpitting">Dorsal Pitting</label>
                    <input asp-for="@Model.Dorsalpitting" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Femur">Femur</label>
                    <input asp-for="@Model.Femur" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Humerus">Humerus</label>
                    <input asp-for="@Model.Humerus" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Femurheaddiameter">Femur Head Diameter</label>
                    <input asp-for="@Model.Femurheaddiameter" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Humerusheaddiameter">Humerus Head Diameter</label>
                    <input asp-for="@Model.Humerusheaddiameter" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Femurlength">Femur Length</label>
                    <input asp-for="@Model.Femurlength" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Humeruslegnth">Humerus Length</label>
                    <input asp-for="@Model.Humeruslegnth" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Tibia">Tibia</label>
                    <input asp-for="@Model.Tibia" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Estimatestature">Estimate Stature</label>
                    <input asp-for="@Model.Estimatestature" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Osteophytosis">Osteophytosis</label>
                    <input asp-for="@Model.Osteophytosis" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CariesPeriodontalDisease">Whattttt</label>
                    <input asp-for="@Model.CariesPeriodontalDisease" /><br />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Notes">Notes</label>
                    <input asp-for="@Model.Notes" /><br />
                </div>
                </div>



                <button type="submit">@ViewBag.Title</button>
        </form>
    </div>
</div>


