@model Burialall7



<div>
    <h3>@ViewBag.Title</h3>
    <form method="post">
        

        <input asp-for="@Model.Id" type="hidden" />
        <label asp-for="@Model.Sex">Sex</label>
        <select asp-for="@Model.Sex">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="U">Unknown</option>
        </select>

        <label asp-for="@Model.Depth">Depth</label>
        <input asp-for="@Model.Depth" /><br />

        <label asp-for="@Model.Ageatdeath">Age at Death</label>
        <select asp-for="@Model.Ageatdeath">
            <option value="">Select an Age</option>
            <option value="A">Adult</option>
            <option value="C">Child</option>
            <option value="I">Infant</option>
            <option value="N">Newborn</option>
            <option value="U">Unknown</option>
        </select>

        <label asp-for="@Model.Headdirection">Head Direction</label>
        <input asp-for="@Model.Headdirection" /><br />

        <label asp-for="@Model.Haircolor">Hair Color:</label>
        <select asp-for="@Model.Haircolor">
            <option value="">Select a Hair Color</option>
            <option value="B">Brown/Dark Brown/Lt Brown</option>
            <option value="K">Black</option>
            <option value="A">Brown-Red</option>
            <option value="R">Red/Red-Bl</option>
            <option value="D">Blond</option>
            <option value="U">Unknown</option>
        </select>"

        <label asp-for="@Model.Value">Textile Color:</label>
        <input asp-for="@Model.Value" /><br />

        <label asp-for="@Model.Value4">Textile Structure:</label>
        <input asp-for="@Model.Value4" /><br />

        <label asp-for="@Model.Burialid">Burial ID:</label>
        <input asp-for="@Model.Burialid" /><br />

        <label asp-for="@Model.Value5">Textile Function:</label>
        <input asp-for="@Model.Value5" /><br />
        @*<div asp-validation-summary="All"></div>*@
        @*<label asp-for="@Model.Headdirection"></label>
        <select asp-for="">
            <option value="">Select .....</option>
            @foreach (....m in Model)
            {
                <option value="@m.Id">@m.......</option>
            }
        </select>*@

        @*<input asp-for="@Model.Sex" />
        <label asp-for="@Model.Depth">Depth</label>
        <input asp-for="@Model.Depth" />
        <label asp-for="@Model.Ageatdeath">Age at Death</label>
        <input asp-for="@Model.Ageatdeath" />
        <label asp-for="@Model.Headdirection">Head Direction</label>
        <input asp-for="@Model.Headdirection" />
        <label asp-for="@Model.Hair Color">Hair Color</label>
        <input asp-for="@Model.Haircolor" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value4" />
        <label asp-for="@Model.BurialId">Burial ID</label>
        <input asp-for="@Model.Burialid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value5" />
        <label asp-for="@Model.Squarenorthsouth">SquareNorthSouth</label>
        <input asp-for="@Model.Squarenorthsouth" />
        <label asp-for="@Model.Headdirection">Headdirection</label>
        <input asp-for="@Model.Headdirection" />
        <label asp-for="@Model.Sex">Sex</label>
        <input asp-for="@Model.Sex" />
        <label asp-for="@Model.Northsouth">NorthSouth</label>
        <input asp-for="@Model.Northsouth" />
        <label asp-for="@Model.Depth">Depth</label>
        <input asp-for="@Model.Depth" />
        <label asp-for="@Model.Eastwest">EastWest</label>
        <input asp-for="@Model.Eastwest" />
        <label asp-for="@Model.Adultsubadult">Adultsubadult</label>
        <input asp-for="@Model.Adultsubadult" />
        <label asp-for="@Model.Facebundles">Face Bundles</label>
        <input asp-for="@Model.Facebundles" />
        <label asp-for="@Model.Southtohead">South to Head</label>
        <input asp-for="@Model.Southtohead" />
        <label asp-for="@Model.Preservation">Preservation</label>
        <input asp-for="@Model.Preservation" />
        <label asp-for="@Model.Fieldbookpage">Field Book Page</label>
        <input asp-for="@Model.Fieldbookpage" />
        <label asp-for="@Model.Squareeastwest">SquareEastWest</label>
        <input asp-for="@Model.Squareeastwest" />
        <label asp-for="@Model.Goods">Goods</label>
        <input asp-for="@Model.Goods" />
        <label asp-for="@Model.Text">Text</label>
        <input asp-for="@Model.Text" />
        <label asp-for="@Model.Wrapping">Wrapping</label>
        <input asp-for="@Model.Wrapping" />
        <label asp-for="@Model.Haircolor">Haircolor</label>
        <input asp-for="@Model.Haircolor" />
        <label asp-for="@Model.Westtohead">West to Head</label>
        <input asp-for="@Model.Westtohead" />
        <label asp-for="@Model.Samplescollected">Samples Collected</label>
        <input asp-for="@Model.Samplescollected" />
        <label asp-for="@Model.Area">Area</label>
        <input asp-for="@Model.Area" />
        <label asp-for="@Model.Length">Length</label>
        <input asp-for="@Model.Length" />
        <label asp-for="@Model.Burialnumber">Burial Number</label>
        <input asp-for="@Model.Burialnumber" />
        <label asp-for="@Model.Dataexpertinitials">Data Expert Initials</label>
        <input asp-for="@Model.Dataexpertinitials" />
        <label asp-for="@Model.Westtofeet">West to Feet</label>
        <input asp-for="@Model.Westtofeet" />
        <label asp-for="@Model.Ageatdeath">Age at Death</label>
        <input asp-for="@Model.Ageatdeath" />
        <label asp-for="@Model.Southtofeet">South to Feet</label>
        <input asp-for="@Model.Southtofeet" />
        <label asp-for="@Model.Excavationrecorder">Excavation Recorder</label>
        <input asp-for="@Model.Excavationrecorder" />
        <label asp-for="@Model.Photos">Photos</label>
        <input asp-for="@Model.Photos" />
        <label asp-for="@Model.Hair">Hair</label>
        <input asp-for="@Model.Hair" />
        <label asp-for="@Model.Burialmaterials">Burial Materials</label>
        <input asp-for="@Model.Burialmaterials" />
        <label asp-for="@Model.Dateofexcavation">Date of Excavation</label>
        <input asp-for="@Model.Dateofexcavation" />
        <label asp-for="@Model.Fieldbookexcavationyear">Fieldbook Excavation</label>
        <input asp-for="@Model.Fieldbookexcavationyear" />
        <label asp-for="@Model.Clusternumber">Cluster Number</label>
        <input asp-for="@Model.Clusternumber" />
        <label asp-for="@Model.Shaftnumber">Shaft Number</label>
        <input asp-for="@Model.Shaftnumber" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id2" />
        <label asp-for="@Model.Locale">Locale</label>
        <input asp-for="@Model.Locale" />
        <label asp-for="@Model.Textileid">Textile ID</label>
        <input asp-for="@Model.Textileid" />
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" />
        <label asp-for="@Model.Burialnumber2">Burial Number 2</label>
        <input asp-for="@Model.Burialnumber2" />
        <label asp-for="@Model.Estimatedperiod">Estimate Period</label>
        <input asp-for="@Model.Estimatedperiod" />
        <label asp-for="@Model.Sampledate">Sample Date</label>
        <input asp-for="@Model.Sampledate" />
        <label asp-for="@Model.Photographeddate">Photograph Date</label>
        <input asp-for="@Model.Photographeddate" />
        <label asp-for="@Model.Direction">Direction</label>
        <input asp-for="@Model.Direction" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id3" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value" />
        <label asp-for="@Model.Colorid">Color ID</label>
        <input asp-for="@Model.Colorid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id4" />
        <label asp-for="@Model.Analysistype">Analysis Type</label>
        <input asp-for="@Model.Analysistype" />
        <label asp-for="@Model.Doneby">Done by</label>
        <input asp-for="@Model.Doneby" />
        <label asp-for="@Model.Analysisid">Analysis ID</label>
        <input asp-for="@Model.Analysisid" />
        <label asp-for="@Model.Date">Date</label>
        <input asp-for="@Model.Date" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id5" />
        <label asp-for="@Model.Decorationid">Decoration ID</label>
        <input asp-for="@Model.Decorationid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value2" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id6" />
        <label asp-for="@Model.Dimensiontype">Dimension Type</label>
        <input asp-for="@Model.Dimensiontype" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value3" />
        <label asp-for="@Model.Dimensionid">Dimension ID</label>
        <input asp-for="@Model.Dimensionid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id7" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value4" />
        <label asp-for="@Model.Structureid">Structure ID</label>
        <input asp-for="@Model.Structureid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id8" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Value5" />
        <label asp-for="@Model.Textilefunctionid">Textile Function ID</label>
        <input asp-for="@Model.Textilefunctionid" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id9" />
        <label asp-for="@Model.Thickness">Thickness</label>
        <input asp-for="@Model.Thickness" />
        <label asp-for="@Model.Angle">Angle</label>
        <input asp-for="@Model.Angle" />
        <label asp-for="@Model.Manipulation">Manipulation</label>
        <input asp-for="@Model.Manipulation" />
        <label asp-for="@Model.Material">Material</label>
        <input asp-for="@Model.Material" />
        <label asp-for="@Model.Count">Count</label>
        <input asp-for="@Model.Count" />
        <label asp-for="@Model.Component">Component</label>
        <input asp-for="@Model.Component" />
        <label asp-for="@Model.Ply">Ply</label>
        <input asp-for="@Model.Ply" />
        <label asp-for="@Model.Yarnmanipulationid">Yarn Manipulation ID</label>
        <input asp-for="@Model.Yarnmanipulationid" />
        <label asp-for="@Model.Direction2">Direction 2</label>
        <input asp-for="@Model.Direction2" />
        <label asp-for="@Model.whatttt">Whattttt</label>
        <input asp-for="@Model.Id10" />
        <label asp-for="@Model.Burialnumber3">Burial Number 3</label>


        <input asp-for="@Model.Burialnumber3" />
        <label asp-for="@Model.Dateofexamination">Date of Examination</label>
        <input asp-for="@Model.Dateofexamination" />
        <label asp-for="@Model.Preservationindex">Preservation Index</label>
        <input asp-for="@Model.Preservationindex" />
        <label asp-for="@Model.Haircolor2">Hair Color 2</label>
        <input asp-for="@Model.Haircolor2" />
        <label asp-for="@Model.Observations">Observations</label>
        <input asp-for="@Model.Observations" />
        <label asp-for="@Model.Robust">Robust</label>
        <input asp-for="@Model.Robust" />
        <label asp-for="@Model.Supraorbitalridges">Supraorbital Ridges</label>
        <input asp-for="@Model.Supraorbitalridges" />
        <label asp-for="@Model.Orbitedge">Orbit Edge</label>
        <input asp-for="@Model.Orbitedge" />
        <label asp-for="@Model.Parietalblossing">Parietal Blossing</label>
        <input asp-for="@Model.Parietalblossing" />
        <label asp-for="@Model.Gonion">Gonion</label>
        <input asp-for="@Model.Gonion" />
        <label asp-for="@Model.Nuchalcrest">Nuchral Crest</label>
        <input asp-for="@Model.Nuchalcrest" />
        <label asp-for="@Model.Zygomaticcrest">Zygomatic Crest</label>
        <input asp-for="@Model.Zygomaticcrest" />
        <label asp-for="@Model.Sphenooccipitalsynchrondrosis">Sphennoccipitalsynchrondosis</label>
        <input asp-for="@Model.Sphenooccipitalsynchrondrosis" />
        <label asp-for="@Model.Lamboidsuture">Lamboid Suture</label>
        <input asp-for="@Model.Lamboidsuture" />
        <label asp-for="@Model.Squamossuture">Squamo Suture</label>
        <input asp-for="@Model.Squamossuture" />
        <label asp-for="@Model.Toothattrition">Tooth Attrition</label>
        <input asp-for="@Model.Toothattrition" />
        <label asp-for="@Model.Tootheruption">Tooth Eruption</label>
        <input asp-for="@Model.Tootheruption" />
        <label asp-for="@Model.Tootheruptionageestimate">Tooth Eruption Age Estimate</label>
        <input asp-for="@Model.Tootheruptionageestimate" />
        <label asp-for="@Model.Ventralarc">Ventral Arc</label>
        <input asp-for="@Model.Ventralarc" />
        <label asp-for="@Model.Subpubicangle">Subpubic Angle</label>
        <input asp-for="@Model.Subpubicangle" />
        <label asp-for="@Model.Sciaticnotch">Sciatic Notch</label>
        <input asp-for="@Model.Sciaticnotch" />
        <label asp-for="@Model.Pubicbone">Pubic Bone</label>
        <input asp-for="@Model.Pubicbone" />
        <label asp-for="@Model.Preauricularsulcus">Preauricularsulcus</label>
        <input asp-for="@Model.Preauricularsulcus" />
        <label asp-for="@Model.MedialIpRamus">Medial Ip Ramus</label>
        <input asp-for="@Model.MedialIpRamus" />
        <label asp-for="@Model.Dorsalpitting">Dorsal Pitting</label>
        <input asp-for="@Model.Dorsalpitting" />
        <label asp-for="@Model.Femur">Femur</label>
        <input asp-for="@Model.Femur" />
        <label asp-for="@Model.Humerus">Humerus</label>
        <input asp-for="@Model.Humerus" />
        <label asp-for="@Model.Femurheaddiameter">Femur Head Diameter</label>
        <input asp-for="@Model.Femurheaddiameter" />
        <label asp-for="@Model.Humerusheaddiameter">Humerus Head Diameter</label>
        <input asp-for="@Model.Humerusheaddiameter" />
        <label asp-for="@Model.Femurlength">Femur Length</label>
        <input asp-for="@Model.Femurlength" />
        <label asp-for="@Model.Humeruslegnth">Humerus Length</label>
        <input asp-for="@Model.Humeruslegnth" />
        <label asp-for="@Model.Tibia">Tibia</label>
        <input asp-for="@Model.Tibia" />
        <label asp-for="@Model.Estimatestature">Estimate Stature</label>
        <input asp-for="@Model.Estimatestature" />
        <label asp-for="@Model.Osteophytosis">Osteophytosis</label>
        <input asp-for="@Model.Osteophytosis" />
        <label asp-for="@Model.CariesPeriodontalDisease">Whattttt</label>
        <input asp-for="@Model.CariesPeriodontalDisease" />
        <label asp-for="@Model.Notes">Notes</label>
        <input asp-for="@Model.Notes" />*@



        <button type="submit">@ViewBag.Title Mummy</button>
    </form>
</div>