@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Burialall7 

<h3>Full List of Information</h3>


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Squarenorthsouth</td>
            <td>Headdirection</td>
            <td>Sex</td>
            <td>Northsouth</td>
            <td>Depth</td>
            <td>Eastwest</td>
            <td>Adultsubadult</td>
            <td>Facebundles</td>
            <td>Southtohead</td>
            <td>Preservation</td>
            <td>Fieldbookpage</td>
            <td>Squareeastwest</td>
            <td>Goods</td>
            <td>Text</td>
            <td>Wrapping</td>
            <td>Haircolor</td>
            <td>Westtohead</td>
            <td>Samplescollected</td>
            <td>Area</td>
            <td>Length</td>
            <td>Burialnumber</td>
            <td>Dataexpertinitials</td>
            <td>Westtofeet</td>
            <td>Ageatdeath</td>
            <td>Southtofeet</td>
            <td>Excavationrecorder</td>
            <td>Photos</td>
            <td>Hair</td>
            <td>Burialmaterials</td>
            <td>Dateofexcavation</td>
            <td>Fieldbookexcavationyear</td>
            <td>Clusternumber</td>
            <td>Shaftnumber</td>
            
            <td>Locale</td>
            
            <td>Description</td>
            <td>Burialnumber2</td>
            <td>Estimatedperiod</td>
            <td>Sampledate</td>
            <td>Photographeddate</td>
            <td>Direction</td>
           
            <td>Value</td>
        
            <td>Analysistype</td>
            <td>Doneby</td>
         
            <td>Date</td>
          
            
            <td>Decoration</td>
      
            <td>Dimensiontype</td>
            <td>Dimension</td>
     
      
            <td>Structure</td>
           
            <td>Textile Function</td>

            <td>Thickness</td>
            <td>Angle</td>
            <td>Manipulation</td>
            <td>Material</td>
            <td>Count</td>
            <td>Component</td>
            <td>Ply</td>

            <td>Direction2</td>
   


            <td>Burialnumber3</td>
            <td>Dateofexamination</td>
            <td>Preservationindex</td>
            <td>Haircolor2</td>
            <td>Observations</td>
            <td>Robust</td>
            <td>Supraorbitalridges</td>
            <td>Orbitedge</td>
            <td>Parietalblossing</td>
            <td>Gonion</td>
            <td>Nuchalcrest</td>
            <td>Zygomaticcrest</td>
            <td>Sphenooccipitalsynchrondrosis</td>
            <td>Lamboidsuture</td>
            <td>Squamossuture</td>
            <td>Toothattrition</td>
            <td>Tootheruption</td>
            <td>Tootheruptionageestimate</td>
            <td>Ventralarc</td>
            <td>Subpubicangle</td>
            <td>Sciaticnotch</td>
            <td>Pubicbone</td>
            <td>Preauricularsulcus</td>
            <td>MedialIpRamus</td>
            <td>Dorsalpitting</td>
            <td>Femur</td>
            <td>Humerus</td>
            <td>Femurheaddiameter</td>
            <td>Humerusheaddiameter</td>
            <td>Femurlength</td>
            <td>Humeruslegnth</td>
            <td>Tibia</td>
            <td>Estimatestature</td>
            <td>Osteophytosis</td>
            <td>CariesPeriodontalDisease</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Squarenorthsouth</td>
            <td>@Model.Headdirection</td>
            <td>@Model.Sex</td>
            <td>@Model.Northsouth</td>
            <td>@Model.Depth</td>
            <td>@Model.Eastwest</td>
            <td>@Model.Adultsubadult</td>
            <td>@Model.Facebundles</td>
            <td>@Model.Southtohead</td>
            <td>@Model.Preservation</td>
            <td>@Model.Fieldbookpage</td>
            <td>@Model.Squareeastwest</td>
            <td>@Model.Goods</td>
            <td>@Model.Text</td>
            <td>@Model.Wrapping</td>
            <td>@Model.Haircolor</td>
            <td>@Model.Westtohead</td>
            <td>@Model.Samplescollected</td>
            <td>@Model.Area</td>
            <td>@Model.Length</td>
            <td>@Model.Burialnumber</td>
            <td>@Model.Dataexpertinitials</td>
            <td>@Model.Westtofeet</td>
            <td>@Model.Ageatdeath</td>
            <td>@Model.Southtofeet</td>
            <td>@Model.Excavationrecorder</td>
            <td>@Model.Photos</td>
            <td>@Model.Hair</td>
            <td>@Model.Burialmaterials</td>
            <td>@Model.Dateofexcavation</td>
            <td>@Model.Fieldbookexcavationyear</td>
            <td>@Model.Clusternumber</td>
            <td>@Model.Shaftnumber</td>

            <td>@Model.Locale</td>

            <td>@Model.Description</td>
            <td>@Model.Burialnumber2</td>
            <td>@Model.Estimatedperiod</td>
            <td>@Model.Sampledate</td>
            <td>@Model.Photographeddate</td>
            <td>@Model.Direction</td>
   
            <td>@Model.Value</td>


            <td>@Model.Analysistype</td>
            <td>@Model.Doneby</td>

            <td>@Model.Date</td>

            <td>@Model.Value2</td>
           
            <td>@Model.Dimensiontype</td>
            <td>@Model.Value3</td>   

            <td>@Model.Value4</td>

            <td>@Model.Value5</td>

            <td>@Model.Thickness</td>
            <td>@Model.Angle</td>
            <td>@Model.Manipulation</td>
            <td>@Model.Material</td>
            <td>@Model.Count</td>
            <td>@Model.Component</td>
            <td>@Model.Ply</td>
            
            <td>@Model.Direction2</td>



            <td>@Model.Burialnumber3</td>
            <td>@Model.Dateofexamination</td>
            <td>@Model.Preservationindex</td>
            <td>@Model.Haircolor2</td>
            <td>@Model.Observations</td>
            <td>@Model.Robust</td>
            <td>@Model.Supraorbitalridges</td>
            <td>@Model.Orbitedge</td>
            <td>@Model.Parietalblossing</td>
            <td>@Model.Gonion</td>
            <td>@Model.Nuchalcrest</td>
            <td>@Model.Zygomaticcrest</td>
            <td>@Model.Sphenooccipitalsynchrondrosis</td>
            <td>@Model.Lamboidsuture</td>
            <td>@Model.Squamossuture</td>
            <td>@Model.Toothattrition</td>
            <td>@Model.Tootheruption</td>
            <td>@Model.Tootheruptionageestimate</td>
            <td>@Model.Ventralarc</td>
            <td>@Model.Subpubicangle</td>
            <td>@Model.Sciaticnotch</td>
            <td>@Model.Pubicbone</td>
            <td>@Model.Preauricularsulcus</td>
            <td>@Model.MedialIpRamus</td>
            <td>@Model.Dorsalpitting</td>
            <td>@Model.Femur</td>
            <td>@Model.Humerus</td>
            <td>@Model.Femurheaddiameter</td>
            <td>@Model.Humerusheaddiameter</td>
            <td>@Model.Femurlength</td>
            <td>@Model.Humeruslegnth</td>
            <td>@Model.Tibia</td>
            <td>@Model.Estimatestature</td>
            <td>@Model.Osteophytosis</td>
            <td>@Model.CariesPeriodontalDisease</td>
            <td>@Model.Notes</td>

        </tr>
    </tbody>
</table>